---
import Container from "./Container.astro"
import { ru } from "../lib/i18n"
---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        {/* EN: What users say about Video Reader AI */}
        {ru.testimonials.title}
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{ru.testimonials.testimonial_1.name}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{ru.testimonials.testimonial_1.role}</p>
          </div>
        </div>
        <p class="mt-8">{ru.testimonials.testimonial_1.text}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-1.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{ru.testimonials.testimonial_2.name}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{ru.testimonials.testimonial_2.role}</p>
          </div>
        </div>
        <p class="mt-8">{ru.testimonials.testimonial_2.text}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{ru.testimonials.testimonial_3.name}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{ru.testimonials.testimonial_3.role}</p>
          </div>
        </div>
        <p class="mt-8">{ru.testimonials.testimonial_3.text}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{ru.testimonials.testimonial_4.name}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{ru.testimonials.testimonial_4.role}</p>
          </div>
        </div>
        <p class="mt-8">{ru.testimonials.testimonial_4.text}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-4.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{ru.testimonials.testimonial_5.name}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{ru.testimonials.testimonial_5.role}</p>
          </div>
        </div>
        <p class="mt-8">{ru.testimonials.testimonial_5.text}</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">{ru.testimonials.testimonial_6.name}</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">{ru.testimonials.testimonial_6.role}</p>
          </div>
        </div>
        <p class="mt-8">{ru.testimonials.testimonial_6.text}</p>
      </div>
    </div>
  </Container>
</div>